#pager{
    color: #999;
    font-size: 14px;
    font-family: '微软雅黑';
}
#pager a,
#pager span.current{
    height: 21px;
    line-height: 21px;
    padding: 0 7px;
    margin-right: 3px;
    border: 1px solid #DDD;
    text-decoration: none;
}
#pager a{
    color: #333;
}
#pager input{
    line-height: 21px;
    width: 24px;
    height: 21px;
    padding: 0 5px;
    margin-left: 5px;
    border: 1px solid #DDD;
    background: none;
    text-align: center;
}
#pager .pager-search-btn{
    width: 47px;
    height: 21px;
    margin-left: 10px;
    border: 1px solid #ddd;
    background: none;
    color: #333;
    cursor: pointer;
}
#pager .pager-search-btn:hover{
    border: 1px solid #61B6EF;
    color: #61B6EF;
}